body {
  --gradual-blue: linear-gradient(60deg, #00a1fe, #6dc0f6);
  --arcoblue-1: 232, 243, 255;
  --arcoblue-2: 190, 232, 255;
  --arcoblue-3: 149, 214, 255;
  --arcoblue-4: 107, 193, 255;
  --arcoblue-5: 66, 170, 255;
  --arcoblue-6: 24, 144, 255;
  --arcoblue-7: 15, 109, 210;
  --arcoblue-8: 8, 79, 166;
  --arcoblue-9: 3, 52, 121;
  --arcoblue-10: 0, 29, 77;
  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 6px;
  --border-radius-xlarge: 10px;
  --box-padding: 5px 10px;
  background-color: var(--color-bg-1) !important;
  overflow-x: hidden;
}

.arco-menu-light {
  background-color: transparent !important;
}

:root {
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.loadingSpin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  background-color: var(--color-bg-1);

  &-span {
    color: var(--color-text-1);
  }
}

// display flex center Mixin
.display-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 毛玻璃效果 Mixin
.filter {
  backdrop-filter: blur(10px) brightness(0.9) opacity(1) saturate(100%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

// 盒子padding Mixin
.pd-box {
  padding: 10px 20px;
}

.arco-modal-header {
  border-bottom: none !important;
}

#nprogress .bar {
  height: 3px !important;
  background-image: linear-gradient(
    to right,
    #4facfe 0%,
    #00f2fe 100%
  ) !important;
}

* {
  cursor: none !important;
}
