@import url('@/assets/style/custom.less');

.no-box-shadow {
  box-shadow: none !important;

  &:hover {
    box-shadow: 1px 1px 10px 0 var(--color-border-3) !important;
  }
}

.theme-btn {
  color: var(--color-text-1);
}

.progress-wheel {
  margin: 0 10px;

  circle {
    stroke-dashoffset: 0;
    stroke-width: 30%;
    fill: none;
  }
}

.progress-wheel .bg {
  stroke: #ffda8c;
  opacity: 0.35;
}

.progress-wheel .progress {
  stroke: #ffda8c;
  stroke-dasharray: 0, 1;
}

.header-menu {
  box-sizing: border-box;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-menu-item {
  width: fit-content;
}

.header-menu .arco-menu-inner {
  overflow-y: auto;
}

.header-img {
  position: relative;

  img {
    border-radius: 50%;
  }
}

.header-dropdown {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}
